.header {
  height: 7rem;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-16);
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  z-index: 1;
}

.logo {
  cursor: pointer;
  height: 5rem;
  width: 5rem;
}

.socialLinks {
  display: flex;
  gap: var(--spacing-16);
}
