.footer {
  height: 7rem;
  background-color: var(--color-main);
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-16);
  justify-content: center;
  font-size: var(--body-font-size-standard);
}

@media screen and (min-width: 768px) {
  .footer {
    justify-content: flex-start;
    padding: 0 var(--spacing-32);
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 0 var(--spacing-56);
  }
}
