* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Libre Baskerville", serif;
}

html {
  font-size: 62.5%;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: unset;
  margin-block-start: unset;
  margin-block-end: unset;
}

.active {
  background-color: #283242;
}

@media (min-width: 1024px) {
  .active {
    background-color: unset;
    border-bottom: var(--border-secondary);
  }
}
